<% provide(:title, 'Application list') %>
<% if @user == current_user %>
  <div class="apply_edit">
    <h1>申請一覧</h1>

    <%= form_with(model:[@user,@shift], url: apply_update_user_shift_path(date: @first_day), local: true, method: :patch) do |f| %>

      <div class="box"> 
        <% if @administrators.present? %>
          <p class="admin_memo">皆さんにお知らせ</p>
          <% @administrators.each do |administrator| %>
            <% if administrator.notice.present? %>
              <p><%= administrator.notice %></p>
            <% end %>
          <% end %>
        <% else %>
          <p>お知らせはありません。</p>
        <% end %>
      </div>

      <%# チェック済のみ送信されます。 %>
      <%# シフト決定(皆さんにデータ送信)上下にボタンを作る %>
      <div class="center">
        <p>※チェック済のみ送信されます。</p>
        <%= f.submit "シフト決定(皆さんにデータ送信)", class: "btn btn-primary btn-edit" %>
      </div>
      <div>
        <p><%= link_to "←", apply_edit_user_shift_path(@user, date: @first_day.prev_month), class: "btn btn-primary btn-sm" %>【<%= l(@first_day, format: :middle) %>】<%= link_to "→", apply_edit_user_shift_path(@user, date: @first_day.next_month), class: "btn btn-primary btn-sm" %></p>
      </div>
      
      <% @groups.each do |id, users| %>
        <% users.each do |user| %>
          
          <% if current_user.admin? && !current_user?(user) %>
            <table class="table table-bordered table-hover float-sm-left " id="table-apply_edit">
              <thead>
                <tr>
                  <th></th>
                  <%# <% shift.each do |day| %> 
                  <% user.shifts.each do |day| %>
                    <% if user.shifts.present? %>
                      <th><%= link_to l(day.worked_on, format: :short), user_shift_path(current_user, current_user, date: day.worked_on) %></th>
                    <% end %>
                  <% end %>
                </tr>
                <tr>
                  <th></th>
                  <%# <% shift.each do |day| %> 
                  <% user.shifts.each do |day| %>
                    <% if user.shifts.present? %>
                      <th>
                        <% if day.worked_on.wday == 0 %>
                          <div class="sunday"><%= $days_of_the_week[day.worked_on.wday]%></div> 
                        <% elsif day.worked_on.wday == 6 %>
                          <div class="saturday"><%= $days_of_the_week[day.worked_on.wday]%></div> 
                        <% else %>
                          <%= $days_of_the_week[day.worked_on.wday] %>
                        <% end %>
                      </th>
                    <% end %>  
                  <% end %>
                </tr>
              </thead>
            
              <tbody>
                <tr>
                <%# !current_user?(user) %>
                <%# <%debugger%> 
                  <td>
                    <%= user.classification %>.<%= user.name%><%= link_to '編集', edit_user_shift_path(user, @shift, date: @first_day), class: "btn btn-sm btn-primary" %>
                  </td> 
                  <% user.shifts.each do |day| %>
                    <%# <% shift.each do |day| %> 
                    <% if user.shifts.present? %>
                      
                      <%= f.fields_for "apply_edit[]", day do |apply| %>
                        <%= apply.hidden_field :determined_arrival_time, value: day.desired_attendance_time %>
                        <%= apply.hidden_field :decided_leaving_time, value: day.desired_leave_time %>
                        <td>
                          <%# <% if day.desired_attendance_time.present? && day.desired_leave_time.present? %>
                          
                          <%= apply.check_box :apply_check, {}, "true", "false" %> 
                          <%= day&.desired_attendance_time&.strftime('%H:%M') %><br><%= day&.desired_leave_time&.strftime('%H:%M')  %><br><%= day.user_memo%>
                        </td>
                      <% end %>
                    <% end %> 
                  <% end %>
                </tr>
              </tbody>
              
            </table>
          <% end %>
        <% end %>
      <% end %>
      <%# <%= link_to '消去',user_shift_path(@user,@shift.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" %> 
      <%# <%= link_to '戻る', user_shifts_path, class: "btn btn-primary" %>
      <%#  %>
      <%# シフト決定(皆さんにデータ送信)上下にボタンを作る %>
      
      <div class="center">
        <p>※チェック済のみ送信されます。</p>
        <%= f.submit "シフト決定(皆さんにデータ送信)", class: "btn btn-primary btn-edit" %>
      </div>
    <% end %>
  </div>
<% end %>

