<% provide(:title, 'Edit') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>プロフィール変更</h1>

<%# <h1>Edit <%= resource_name.to_s.humanize </h1> %>
<%# <%debugger %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :employee_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :name, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "label-#{yield(:class_text)}" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label-#{yield(:class_text)} " %> 
        <%# <i>(leave blank if you don't want to change it)</i><br /> %>
        <i>(空欄のままなら変更しません)<% if @minimum_password_length %>
          <%# <br /> %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
        <%# <br> %>
        </i><br />
        <%= f.password_field :password, autocomplete: "new-password", id:"textPassword", class: "form-control" %>
        
        <%# <input class="js-password-toggle" type="checkbox"> %>
        <%# <span id="buttonEye" class="fa fa-eye" >パスワードを表示させる</span> %>
        <span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()">パスワードを表示させる</span>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"textPassword2", class: "form-control" %>
        <span id="buttonEye2" class="fa fa-eye" onclick="pushHideButton2()" >パスワードを表示させる</span>
      </div>

      <div class="field">
        <% if false %>
          <div>
            <%= f.label :current_password %> <i><%= t(".current_password_warning") %></i><br />
            <%= f.password_field :current_password, id:"textPassword3", class: "form-control"%>
            
            <span id="buttonEye3" class="fa fa-eye" onclick="pushHideButton3()" >パスワードを表示させる</span>
          </div>
        <% end %>
        <%# <%= f.label :current_password, class: "label-#{yield(:class_text)}"   %>
        <%# <i>(we need your current password to confirm your changes)</i><br /> %>
        <%# <i>(変更を確認するには、現在のパスワードが必要です)</i><br /> %>
        <%# <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
      </div>

      <div class="actions">
        <%# <%= f.submit "Update" %> 
        <%= f.submit "#{yield(:button_text)}", class: "btn btn-primary btn-block btn-#{yield(:button_text)} btn-form" %>
      </div>
    <% end %>

    <hr>
    <h3>アカウント削除</h3>

    <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "削除してよろしいですか？" }, method: :delete, class: "btn btn-danger" %></p>

    <%# <%= link_to "Back", :back, class: "btn btn-primary" %> 
  </div>
</div>

<script language="javascript">
  function pushHideButton() {
    var txtPass = document.getElementById("textPassword");
    var btnEye = document.getElementById("buttonEye");
    if (txtPass.type === "text") {
      txtPass.type = "password";
      btnEye.className = "fa fa-eye";
    } else {
      txtPass.type = "text";
      btnEye.className = "fa fa-eye-slash";
    }
  }

  function pushHideButton2() {
    var txtPass2 = document.getElementById("textPassword2");
    var btnEye2 = document.getElementById("buttonEye2");
    if (txtPass2.type === "text") {
      txtPass2.type = "password";
      btnEye2.className = "fa fa-eye";
    } else {
      txtPass2.type = "text";
      btnEye2.className = "fa fa-eye-slash";
    }
  }

  function pushHideButton3() {
    var txtPass3 = document.getElementById("textPassword3");
    var btnEye3 = document.getElementById("buttonEye3");
    if (txtPass3.type === "text") {
      txtPass3.type = "password";
      btnEye3.className = "fa fa-eye";
    } else {
      txtPass3.type = "text";
      btnEye3.className = "fa fa-eye-slash";
    }
  }


</script>
